// Info Boxes
//----------------------------------

#{$base-info-box-class} {
  width: 100%;
  height: auto;
  margin-bottom: $base-info-box-margin-bottom;
  padding: $base-info-box-padding;
  position: relative;

  p {
    margin: 0;
  }
}

@each $base-info-box-color in $base-info-box-colors {
  $base-info-box-name:     nth($base-info-box-color, 1);
  $base-info-box-bg-color: nth($base-info-box-color, 2);

  #{$base-info-box-class}-#{$base-info-box-name} {
    background-color: $base-info-box-bg-color;
    border-left: rem(5) solid darken($base-info-box-bg-color, 15%);

    p {
      color: darken($base-info-box-bg-color, 50%);
    }
  }
}
