// This is an example layout.scss that would be in webroot/css folder of your project.
// This example assumes oneframework is in the webroot of your project folder
//----------------------------------

// Required partials essential to oneframework opperation. This includes functions and all variables.
// Adding it here ensures all variables are defined and allows the use of all functions
@import '../oneframework/scss/required/required';

// Add any variable from css/partials/_defaults.scss here to override
$cdn-file-path: 'https://88ebd614d6d385cab1fa-690979800f2b6f086ae14b7920465b0b.ssl.cf2.rackcdn.com/projects/';
$base-body-bg-color: $white;
$primary-accent-color: #1bb3b4;
$secondary-accent-color: #00a8e8;
$tertiary-accent-color: #003459;
$default-color: #00171f;
$base-font: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$base-font-size: 100%;
$base-font-weight: 400;
$base-font-color: #333;
$base-link-color: $primary-accent-color;
$base-link-hover-color: lighten($primary-accent-color, 5%);
$base-title-h1: rem(40);
$base-title-h2: rem(34);
$base-title-h3: rem(26);
$base-title-h4: rem(22);
$base-title-font-color: #222;
$base-title-font-weight: normal;
$base-title-text-transform: capitalize;
$base-navbar-bg-hover-color: darken($primary-accent-color, 10%);
$base-navbar-font-size: 1rem;
$base-navbar-dropdown-color: darken($primary-accent-color, 10%);
$base-btn-height: rem(50);
$base-btn-font-size: $base-font-size;
$base-btn-font-weight: $base-font-weight;

// Add the framework.
@import '../oneframework/scss/oneframework';

// or import individual components
// @import
// '../oneframework/scss/partials/reset',
// '../oneframework/scss/partials/stack',
// '../oneframework/scss/partials/utility-closet',
// '../oneframework/scss/partials/typography',
// '../oneframework/scss/partials/buttons',
// '../oneframework/scss/partials/accordion',
// '../oneframework/scss/partials/blockquotes',
// '../oneframework/scss/partials/forms',
// '../oneframework/scss/partials/grid',
// '../oneframework/scss/partials/info-boxes',
// '../oneframework/scss/partials/navbar',
// '../oneframework/scss/partials/pagination',
// '../oneframework/scss/partials/print',
// '../oneframework/scss/partials/responsive-navigation',
// '../oneframework/scss/partials/social-buttons',
// '../oneframework/scss/partials/tables',
// '../oneframework/scss/partials/tabs';

// Extensions (these must be called here individually to use them)
@import
'../oneframework/scss/extensions/btt-button';

// Your site css code goes here
